@media (max-width: 600px) {
    .dados {
        padding: 10px;
        width: 100%;  /* Ajuste a largura para 100% em telas pequenas */
    }

    .inputs {
        font-size: 14px;  /* Reduz o tamanho da fonte */
    }
}

input::placeholder{
    font-style: italic;
}

.dados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


body {
    font-family: helvetica;
    color: white;
    background-image:
    radial-gradient(at 40% 20%, #fecc09 0px, transparent 50%),
    radial-gradient(at 80% 0%,#d84b1f 0px, transparent 50%),
    radial-gradient(at 0% 50%, #029e79 0px, transparent 50%),
    radial-gradient(at 80% 50%, #f16515 0px, transparent 50%),
    radial-gradient(at 0% 100%, #00a579 0px, transparent 50%),
    radial-gradient(at 0% 0%, #f16515 0px, transparent 50%);;
    background-repeat: -y;
    background-size: 2000px;
    background-color: #4d0c5e;
}

.exp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.p {
    margin-bottom: 1px;
}

.inputs{
    border: none;
    height: 2em;
    width: 15rem;
    border-radius: 7px;
    margin-top: 0.1em;
}


h2{
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 0.2rem;
}

h1{
    margin-top: 2em;
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 0rem;
}

.disclaimer{
    font-size: 0.8em;
    margin-top: 0.01rem;
    opacity: 75%;
    font-style: italic;
}

.botoes{
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}

label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#file-input {
    display: none; /* Esconde o input padrão */
}

#canvas {
    margin-top: 1em;
    border: 1px solid #000; /* Opcional, para visualização */
    display: none; /* Canvas invisível por padrão */
}

.botaoRemover{
    margin-top: 1em;
    display: none;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.botao {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  textarea {
    overflow: hidden; /* Remove as barras de rolagem */
    width: 20em;
    height: 6em;
    font-family: arial;
}